*{
    padding: 10px;
}

.field{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 60%;
    font-size: 18px;
}
.field input{
    margin-bottom: 10px;
}
.login_btn{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: none;
    border: none;
}
.reset_btn{
    background-color: red;
    width: 130px;
    color: aliceblue;
    border-radius: 5px;
    box-shadow: none;
    border: none;

}
/* .login_btn:hover{
   opacity: 0.7;
} */