*{
    padding: 2%;
}
.form{
    border: 1px solid gray;
    width: 50%;
    height: 50vh;
    display: flex;
    
   
}
.field{
    display: flex;
    flex-direction: column;
}
.field input{
    margin-bottom: 10px;
}